@font-face {
    font-family: Poppins-SemiBold;
    src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: Poppins-Regular;
    src: url("/fonts/Poppins/Poppins-Regular.ttf");
}


@font-face {
    font-family: Poppins-Medium;
    src: url("/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: Inter-Bold;
    src: url("/fonts/Inter/Inter-Bold.ttf");
}

@font-face {
    font-family: Inter-Regular;
    src: url("/fonts/Inter/Inter-Regular.ttf");
}


body {
    background: #E4F3E8;
    padding: 0;
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    gap: 18px;
    padding: 50px 100px;
}

.header__buttons {
    display: flex;
    gap: 18px;
    font-family: Poppins-SemiBold;
    padding: 50px 100px;
}

.header__register {
    color: white;
    background: #3BC294;
    height: 50px;
    width: 140px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}


.header__sign-in {
    color: black;
    background: white;
    height: 50px;
    width: 140px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    border: 3px solid #10B580;
    cursor: pointer;
}

.header__logo-text {
    line-height: 20px;
    width: 50px;
    display: grid;
    font-family: Poppins-SemiBold;
    color: #10B580;
    align-content: center;
}

.header__logo-png {
    width: 50px;
    height: auto;
}

.footer__logo-png {
    width: 50px;
    height: auto;
}

.header__logo-icon {
    display: grid;
    align-content: center;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.intro__text-container {
    display: grid;
    padding-left: 100px;
    align-content: center;
    gap: 20px;
    width: 40%;
}

.intro__pic {
    padding-right: 100px;
}

.intro__img {
    width: 100%;
    height: auto;
    max-width: 700px;
}

.intro__title {
    font-family: Inter-Bold;
    font-size: 48px;
    color: #2A4055;
}

.intro__text {
    font-family: Poppins-Regular;
    font-size: 16px;
}

.actions {
    background: #10B580;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.actions__pic img {
    width: 100%;
    max-width: 150px;
    height: 150px;
}

.actions__containers {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 100px;
}

.actions__container {
    background: white;
    border-radius: 20px;
    padding: 50px;
}

.actions__content {
    display: grid;
    gap: 16px;
    justify-items: center;
}

.actions__title {
    font-family: Inter-Bold;
    font-size: 24px;
    color: #2A4055;
}

.actions__text {
    font-family: Poppins-Regular;
    font-size: 16px;
}

.recycle__container {
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.recycle__text {
    display: flex;
    font-family: Poppins-Regular;
    font-size: 16px;
}

.recycle__title {
    font-family: Inter-Bold;
    font-size: 40px;
    color: #2A4055;
}

.recycle__pic img {
    width: 100%;
    max-width: 700px;
    height: auto;
}

.recycle__text-container {
    align-content: center;
    gap: 30px;
    display: grid;
    padding-bottom: 40px;
}

.facts__container {
    display: grid;
    justify-content: center;
}

.facts {
    padding-bottom: 100px;
}

.facts__heading {
    font-family: Inter-Regular;
    font-size: 32px;
}

.facts__title {
    font-family: Inter-Bold;
    font-size: 40px;
    color: #2A4055;
}

.facts__dropdown-menu {
    background: #3AC195;
    border-radius: 20px;
    width: 800px;
    padding: 50px;
}

.facts__dropdown-content {
    display: grid;
    gap: 18px;
}

.facts__dropdown-title {
    font-family: Poppins-Medium;
    font-size: 18px;
    color: white;
}

.facts__dropdown-text {
    font-family: Poppins-Regular;
    font-size: 14px;
    color: white;
}

.facts__dropdowns {
    display: grid;
    gap: 20px;
}

.facts__text-container {
    display: grid;
    padding-bottom: 40px;
    justify-content: center;
    justify-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 50px;
}

.footer__first-column {
    padding: 20px;
    gap: 10px;
    display: grid;
}

.footer__third-column {
    display: grid;
}

.footer__logo {
    display: flex;
    gap: 18px;
}

.footer__logo-icon {
    display: grid;
    align-content: center;
}

.footer__logo-text {
    line-height: 20px;
    width: 50px;
    display: grid;
    font-family: Poppins-SemiBold;
    color: #10B580;
    align-content: center;
}


.footer__second-column {
}

.footer__links {
    display: grid;
    gap: 10px;
    cursor: pointer;
}

.footer__socials {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer__social {
    cursor: pointer;
}

details > summary:first-of-type {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


details > summary::after {
    content: url("./facts__arrow.png");
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}


details[open] > summary::after {
    transform: rotate(-90deg);
}




.header__burger {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
    margin: 20px;
    align-self: center;

}

.header__burger:before,
.header__burger:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;

}

.header__burger:before {
    top: 0;
    background-color: #10B580;
}

.header__burger:after {
    bottom: 0;
    transition: all 0.3s ease 0s;
    background-color: #10B580;
}

.header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
}

.header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
}


.header__burger.active .header__burger-line_center {
    transform: scale(0);
}

.header__burger-line_center {
    background-color: #10B580;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
}



@media (max-width: 1200px) {
    .intro__title {
        font-size: 30px;
    }

    .recycle__title {
        font-size: 30px;
    }

    .facts__title {
        font-size: 30px;
    }

    .facts__heading {
        font-size: 24px;
    }


    .actions__containers {
        padding: 50px;
    }

    .actions__container {
        padding: 20px;
    }

    .facts__dropdown-menu {
        width: 600px;
    }
}


/*@media (max-width: 1024px) {*/
/*    .actions__container {*/
/*        gap: 10px;*/
/*    }*/
/*}*/


@media (max-width: 900px) {

    .intro {
        padding: 100px 50px 100px 50px;
    }

    .intro__text-container {
        width: 80%;
        display: grid;
        padding-left: 0;
    }

    .intro__pic {
        padding-right: 0;
        display: flex;
        justify-content: center;
    }

    .header__register {
        height: 50px;
        width: 90px;
    }

    .header__sign-in {
        height: 50px;
        width: 90px;
    }

    .header__logo {
        padding: 20px;
    }

    .header__buttons {
        padding: 20px;
    }

    /*.recycle__text {*/
    /*    display: grid;*/
    /*}*/
    /*.recycle__container {*/
    /*    padding: 100px 50px 0 50px;*/
    /*}*/
    /*.recycle__pic {*/
    /*    display: grid;*/
    /*    align-content: center;*/
    /*}*/
    .facts {
        padding: 0 20px 50px 20px;
    }

    .recycle__container {
        display: grid;
        justify-content: center;
    }

    .recycle__text {
        display: flex;
    }

    .recycle__title {
        font-size: 30px;
    }


}


@media (max-width: 768px) {

    .actions__containers {
        display: grid;
    }

    .intro {
        display: grid;
    }

    .actions__container {
        max-width: 400px;
    }

    .footer {
        display: grid;
        padding: 20px 0 20px 20px;
        gap: 20px;
    }

    .footer__first-column {
        padding: 0;
    }

    .facts__dropdown-menu {
        width: 350px;
    }

    .intro__text-container {
        width: 100%;
    }

}

@media (max-width: 480px) {
    .intro {
        padding: 50px 20px 50px 20px;
    }

    .actions__text {
        font-size: 14px;
    }

    .recycle__text {
        gap: 0;
    }

    .recycle__container {
        padding: 50px 20px 50px 20px;
    }

    .facts__dropdown-title {
        font-size: 16px;
    }

    .facts__dropdown-menu {
        max-width: 200px;
        width: 100%;
        height: auto;
        padding: 30px;
        font-size: 14px;
    }

    .facts__dropdowns {
        justify-content: center;
    }

    .header__buttons {
        display: none;
    }

    .header__burger {
        display: block;
    }

    .intro__img {
        display: none;
    }

    .recycle__title {
        font-size: 28px;
    }

    .facts__title {
        font-size: 28px;
    }

}


@media (max-width: 360px) {
    .intro__title {
        font-size: 28px;
    }

    .facts__heading {
        font-size: 20px;
    }

    .recycle__text {
        font-size: 14px;
    }

    .intro__text {
        font-size: 14px;
    }

    .actions__text {
        font-size: 14px;
    }

    .facts__dropdown-text {
        font-size: 14px;
    }

}

